*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    overflow-x:hidden;
    overflow-y: hidden;
    
}
.search_system{grid-area: "search";}
.Show_temp{grid-area: "temp";}
.recent_search{grid-area: "recent";}
.Five_day_forecast{grid-area: "fiveday";}
.Weather{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: "search temp" "recent fiveday";
    gap: 10px;
    margin: 10px;
    height: 90vh;
    width: 98vw; 
    
}
h1{
    width: 100vw;
    background-color: rgb(226, 62, 62);
    color: white;
    text-align: center;
}
.search_system{
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}
.search_input{
    height: 30px;
    width: 300px;
}
.btn{
    height: 25px;
    width: 300px;
}
.search_btn{
    background-color: rgb(226, 62, 62);
    color: white;
    font-weight: bolder;
}
.search_btn:hover{
    background-color: white;
    color: rgb(226, 62, 62);
}
.current_location_btn{
    background-color: rgb(22, 123, 223);
    color: white;
    font-weight: bolder;
}
.current_location_btn:hover{
    background-color: white;
    color: black;
}
.Show_temp{
     
     border: 2px solid red;
     box-shadow: rgb(224, 219, 219) 1px 1px 20px 1px;;
     display: grid;
     grid-template-columns: 80% 20%;
     padding: 20px;
}
.recent_search{
    display: flex;
    border: 2px solid red;
    box-shadow: rgb(224, 219, 219) 1px 1px 5px 1px;;
    height: 200px;
    width: 200px;
    margin-left: 100px;
}
.recent{
    
    height: 100px;
    width: 100%;
    padding: 10px;
}
.Forecasts{
    display: grid;
    grid-template-columns: 33% 33% 32%;
    grid-template-areas: "1 2 3","4 5";
    gap: 20px;
    overflow: hidden;
    margin-top: 20px;
}
.cast1{
    box-shadow: red 0.5px 0.5px 5px 1px;
    height: 200px;
    padding: 10px;
    width: 300px;
    grid-area: "1";
    margin: 5px;
}
.cast2{
    box-shadow: red 0.5px 0.5px 5px 1px;
    height: 200px;
    padding: 10px;
    width: 300px;
    grid-area: "2";
    margin: 5px;
}.cast3{
    box-shadow: red 0.5px 0.5px 5px 1px;
    height: 200px;
    padding: 10px;
    width: 300px;
    grid-area: "3";
    margin: 5px;
}.cast4{
    box-shadow: red 0.5px 0.5px 5px 1px;
    height: 200px;
    padding: 10px;
    width: 300px;
    grid-area: "4";
    margin: 5px;
}.cast5{
    box-shadow: red 0.5px 0.5px 5px 1px;
    height: 200px;
    padding: 10px;
    width: 300px;
    grid-area: "5";
    margin: 5px;
}
.date{
    background-color: rgb(26, 86, 237);
    color: white;
    padding: 5px;
    font-weight: bold;
}
